
:root.theme-light {
  --background-color:#fff1f7;
  --accent-color:#ff8dcb;
  --content-text-clr:#353430;
  --button-active-clr:#353430;
  --button-hover-clr:rgba(50, 49, 45, 0.4);
  --title-decor-clr:#FFC2E6;
  --title-clr-section:#353430;
  --title-text-clr:#353430;
  --content-title-clr:#353430;
  --background-image: url(../images/cover-image-light.png);
  --header-icon: none;
}
  @media (prefers-color-scheme: light) {
  :root {
  --background-color:#fff1f7;
  --accent-color:#ff8dcb;
  --content-text-clr:#353430;
  --button-active-clr:#353430;
  --button-hover-clr:rgba(50, 49, 45, 0.4);
  --title-decor-clr:#FFC2E6;
  --title-clr-section:#353430;
  --title-text-clr:#353430;
  --content-title-clr: #353430;
  --background-image: url(../images/cover-image-light.png);
  --header-icon: none;
   }
  }
