/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color:#000028;
  --accent-color:#FF0070;
  --content-text-clr:#F1B2CE;
  --button-active-clr:#FF0070;
  --button-hover-clr:rgba(255, 0, 112, 0.4);
  --title-decor-clr:#DB00FF;
  --title-clr-section:#FF0070;
  --title-text-clr:#000028;
  --background-image: url(../images/cover-image-dark.png);
  --content-title-clr: #000028;
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-font: 'IBM Plex Mono', monospace;
  --header-icon: flex;
}
